*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


nav{
    background-color: cadetblue;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.container{
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
}

nav label{
    color: #fff;
    font-size: 35px;
    line-height: 80px;
}


nav ul{
    float: right;
}


nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}



nav ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    transition: .5s;
}


a:hover{
    background-color: rgb(134, 9, 9);
}


.checkbtn{
 color: #fff;
 float: right;
 line-height: 80px;
 cursor: pointer;
 display: none;
}


#check{
    display: none;
}

header{
    background: url(https://static.vecteezy.com/system/resources/previews/009/629/200/original/fuz-logo-fuz-letter-fuz-letter-logo-design-initials-fuz-logo-linked-with-circle-and-uppercase-monogram-logo-fuz-typography-for-technology-business-and-real-estate-brand-vector.jpg) no-repeat center center/cover;
    width: 100%;
    height: 110vh;
}




@media (max-width:680px){
     .checkbtn{
        display: block;
     }
     ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(78, 148, 7);
        top: 80px;
        text-align: center;
        transition: all .5s;
        right: -100%;
     }

     nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
        
     }

     #check:checked ~ ul{
        right: 0;
     }

}




.s-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    padding: 60px 0;
    gap: 50px;
}

.s-right img{
    width: 100%;
    max-width: 600px;
}

.s-left{
    h1{
        font-size: 70px;
    }
    p{
        font-size: 20px;
        max-width: 400px;
        padding: 30px 0;
    }
    button{
        border: 0;
        background-color: green;
        color: #fff;
        padding: 10px 15px;
        font-size: 25px;
        border-radius: 10px;
        cursor: pointer;
    }
}

@media (max-width:952px) {
    .s-main{
        flex-direction: column;
        justify-content: center;
        padding: 30px 0;
        gap: 20px;
    }
    .s-left{
        text-align: center;
        p{
            max-width: 100%;
        }
        h1{
            font-size: 40px;
        }
    }
}
